<?xml version="1.0" ?>
<launch>
<!-- Plot the linear velocity of the left wheel estimated using: the encoder; the twist; the motor data. Plot the status of the encoder based on the data variance(1 is failed)-->
    <node pkg="rqt_plot" type="rqt_plot" name="rqt_plot_left_vel" output="screen" args="/debug_data/data[0]:data[1]:data[2]:data[5]"/>
<!-- Plot the linear velocity of the right wheel estimated using: the encoders; the twist; the motor data. Plot the status of the encoder based on the data variance (1 is failed)-->
    <node pkg="rqt_plot" type="rqt_plot" name="rqt_plot_right_vel" output="screen" args="/debug_data/data[6]:data[7]:data[8]:data[11]"/>
<!-- Plot the variance of data the left wheel speed esimation based on the twist and the motor data. Same for the right wheel-->
    <node pkg="rqt_plot" type="rqt_plot" name="rqt_plot_residuals" output="screen" args="/debug_data/data[3]:data[4]:data[9]:data[10]"/>
<!-- Plot the status the left and right of encoders based on the data variance (1 is failed)-->
    <node pkg="rqt_plot" type="rqt_plot" name="rqt_plot_status" output="screen" args="/debug_data/data[5]:data[11]"/>

</launch>
